.set_box{
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.set_triangle_img{
    width:70%;
    height:70%;
    object-fit: contain;
    transform-origin: center;
    pointer-events: none;
    user-select: none;
}

@keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .rotate_btn{
    width: 2vw;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

  .upper_rotate::after{
    content: "";
    width: 1px;
    height: 3vh;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.rotate_btn_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.drag_stopper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}